*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: url("purple\ Small.jpeg");
    background-color: rgb(170, 255, 255);
}

.box, .ruleList{
    width: 540px;
    background: white;
    border-radius: 5px;

}


